.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.history

Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

*.stackdump

[Dd]esktop.ini


$RECYCLE.BIN/

*.cab
*.msi
*.msix
*.msm
*.msp

*.lnk
.DS_Store
.env
.flaskenv
*.pyc
*.pyo

__pycache__/
__pycache__*
*.cypython-38
*.cypython-37

*.cypython-38.pyc
*.cypython-37.pyc
*/__pycache__

pariksha/__pycache__/
pariksha/auth/__pycache__/
pariksha/main/__pycache__/

env/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

htmlcov/
.coverage
.coverage.*
*,cover
