{% extends "layout.html" %}
{% block content%}
<style>
  .zoom {

    transition: transform .2s;
    /* Animation */
  }

  .zoom:hover {
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
</style>
<div class="jumbotron" style="margin-top: 50px;">

  <div class="jumbotron" style=" background-color:pink; ">
    <h1>Welcome {{current_user.name}}!!</h1>
    <h3>Have a good day teacher!</h3>


  </div>
  <div class="row">

  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" style="margin-top: 50px;;">
    <div class="col mb-1">


      <div class="card" style="width: 18rem; height: 23rem;">
        <div class="zoom">
          <img src="https://t3.ftcdn.net/jpg/02/08/25/96/240_F_208259638_g1njxkWv7dhPnXyUAv6VlaowDNY892og.jpg"
            class="card-img-top" alt="..." style="width: 286px; height:190.66px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">Create Test</h5>
          <p class="card-text">Create a new Quiz</p>
          <div class="zoom">
            <a href="{{url_for('teacher.create_new_quiz')}}" style="width: 15.25rem; margin-top:6px;" class="btn btn-danger">Create Test</a>
          </div>
        </div>
      </div>

    </div>
    <div class="col mb-4">

      <div class="card" style="width: 18rem; height: 23rem;">
        <div class="zoom">
          <img src="https://t3.ftcdn.net/jpg/03/06/14/50/240_F_306145094_fXSwGom0JWii8WKLqBMz5TL8G6X4EEPj.jpg"
            class="card-img-top" alt="..." style="width: 286px; height:190.66px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">Activate Quizzes</h5>
          <p class="card-text">Activate or Deactivate Current Quizzes</p>
          <div class="zoom">
            <a href="#" style="width: 15.25rem; margin-top:5px;" class="btn btn-danger">View Result</a>
          </div>
        </div>
      </div>

    </div>
    <div class="col mb-4">

      <div class="card" style="width: 18rem; height: 23rem;">
        <div class="zoom">
          <img src="https://www.assignmentmaster.co.uk/assets/images/assignment-master-services.png"
            class="card-img-top" alt="..." style="width: 286px; height:190.66px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">Create Assingement</h5>
          <p class="card-text">Create new assingement</p>
          <div class="zoom">

            <a href="#" style="width: 15.25rem; margin-top:28px;" class="btn btn-danger">Create Assingement</a>
          </div>
        </div>
      </div>



    </div>
    <div class="col mb-4">

      <div class="card" style="width: 18rem; height: 23rem;">
        <div class="zoom">
          <img src="https://t4.ftcdn.net/jpg/03/32/93/91/240_F_332939130_xh4uVUk1lnxxaj6y3FHg2ivspzPEiSPW.jpg"
            class="card-img-top" alt="..." style="width: 286px; height:190.66px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">View Performance</h5>
          <p class="card-text">Check how your class performed.</p>
          <div class="zoom">

            <a href="#" style="width: 15.25rem; margin-top:6px;" class="btn btn-danger">Check Result</a>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>
</div>
<footer id="footer">

  <div class="footer-top">
    <div class="container">
      <div class="row">

        <div class="col-lg-3 col-md-6 footer-contact">
          <h3>Pariksha</h3>
          <p>
            Bennett University <br>
            Greater Noide, 201010<br>
            India<br><br>
            <strong>Phone:</strong> 6464763546715<br>
            <strong>Email:</strong> info@example.com<br>
          </p>
        </div>

        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Online examination</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">AI proctoring</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Analystics on class and individual performance</a></li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Quiz templates and Plagiarism detector services</a></li>

          </ul>
        </div>

        <div class="col-lg-4 col-md-6">
          <h2>PARiKSHA</h2>
          <h4>
            <p>
              Pariksha is created with a motive of providing a unified platform to students and teachers so that the
              process of learning and its quality does not reduces in these tough times.
            </p>
          </h4>
          </p>
        </div>

      </div>
    </div>
  </div>


</footer>

{% endblock content %}