{% extends 'layout.html' %}

{% block content %}


    


<div class="jumbotron">
    <div class="container" style="background-color: pink; margin-top:50px; border-radius:20px; padding:20px;">
       <h3>Welcome to the <strong>Performance</strong> section!!!</h3>
       <hr style="height:1px;border-width:0;color:gray;background-color:black">
       <h3><b>Title : {{quiz_title}}</b></h3>
    
    </div>
    <div class="container">
        <div style="margin-top: 100px; width: 100%; height:100%;">
            <table class="table">
                <thead class="thead-dark">

                    <tr>
                        <th scope="col">Sr. No</th>
                        <th scope="col">Student ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Marks</th>
                    </tr>
                </thead>
                {% for entry in data %}
                <tbody>
                    <tr>
                        <th scope="row">{{entry['sr_no']}}</th>
                        <td>{{entry['student_id']}}</td>
                        <td>{{entry['student_name']}}</td>
                        <td>{{entry['marks']}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
        <form method="POST">
            <input class="btn btn-secondary mt-3" type="submit" value="Download">
        </form>
    </div>
</div>


<footer class="page-footer blue text-center " style="margin-top:-30px;background-color:rgba(128, 128, 128, 0.199);">

    <!--Footer Links-->
    <div class="container-fluid" style="padding: 15px;">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title mb-3">PARiKSHA</h5>
                <p>
                    PARiKSHA is created with a motive of providing a unified platform to students and teachers so that
                    the process of learning and its quality does not reduces in these tough times.

                </p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col">
                <h5 class="title">Contact Us</h5>

                <li><a href="#">Mail</a></li>
                <p>pariksha.contact@gmail.com</p>
                <li><a
                        href="https://www.linkedin.com/posts/pulkit-vyas_onlineexamination-onlineeducation-edtech-activity-6716777003296555008-MvzC">LinkedIn</a>
                </li>



            </div>
            <!--/.Second column-->
        </div>
    </div>

</footer>


{% endblock content %}