{% extends "teac_stud.html" %}
{% block content%}

<body>
  <div class="card-group">
      <div class="card" style="margin-left:350px; min-width:500px; ">
        <img src='https://t3.ftcdn.net/jpg/03/34/92/46/240_F_334924600_Qtl5awh2cniAh0J1ofm6t37kcAl0JSjZ.jpg' ;
         style="width:500px" class="card-img-top" alt="...">

        <div class="card-footer">
          <button type="CreateTest" class=" btn btn-block mybtn btn-primary tx-tfm" style="background: #1C2331;">Create
            Test</button>
        </div>
        <img src='https://t4.ftcdn.net/jpg/03/45/98/49/240_F_345984914_AIRLyd3XfRAyhTZH4MnFdIiD9fWDxaix.jpg' ;
         class="card-img-top" alt="..." style="margin-top:100px; width:500px">

        <div class="card-footer">
          <button type="CreateTest" class=" btn btn-block mybtn btn-primary tx-tfm" style="background: #1C2331;">View
            Result</button>
        </div>
      </div>
  


    <div class="card" style="margin-left:10px; min-width:500px; ">


        <img src="https://t4.ftcdn.net/jpg/02/44/61/75/240_F_244617573_QuS2IR8mBG0XvsUbvIBe3eSPFFM6Sajj.jpg" 
        class="card-img-top" alt="..." style="width:500px; height:310px;">

        <div class="card-footer">
          <button type="CreateTest" class=" btn btn-block mybtn btn-primary tx-tfm" style="background: #1C2331;">Create
            Assingement</button>
        </div>
        <div >
          <img src="https://t3.ftcdn.net/jpg/03/75/47/08/240_F_375470815_ltdpTlZTu0VuBDRoBavzSgqLpA2sDg8p.jpg" class="card-img-top" alt="..."
            style="margin-top:100px; width:500px;" >
        </div>
        <div class="card-footer">
          <button type="CreateTest" class=" btn btn-block mybtn btn-primary tx-tfm" style="background: #1C2331;">Check
            Result</button>
        </div>
      </div>
  </div>
</div>
</body>
{% endblock content %}
