{% extends "layout.html" %}
{% block content%}

<head>


    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<style>
    .zoom {

        transition: transform .2s;

    }

    .zoom:hover {
        transform: scale(1.2);

    }

    .button2:hover {
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    .po:hover {
        transition: transform .2s;
    }

    .po:hover {
        background-color: cyan;
    }





    .btn-file {
        position: relative;
        overflow: hidden;
    }

    .btn-file input[type=file] {
        position: absolute;
        top: 0;
        right: 0;
        min-width: 100%;
        min-height: 100%;
        font-size: 100px;
        text-align: right;
        filter: alpha(opacity=0);
        opacity: 0;
        outline: none;
        background: white;
        cursor: inherit;
        display: block;
    }

    #img-upload {
        width: 100%;
    }
</style>
<div class="jumbotron" style="margin-top: 50px;">


    <div class="jumbotron" style=" background-color:pink; ">

        <h2>
            Add all the questions here that you want to see in your <strong>Quiz</strong>
        </h2>
        <h3>Some instructions:</h3>
        <ul>Enter the correct answer in the first text area option</ul>
        <ul>The options would be shuffled for all the students</ul>
    </div>


   <!-- <blockquote class="imgur-embed-pub" lang="en" data-id="P36epN6"  ><a href="//imgur.com/P36epN6"></a></blockquote><script async src="//s.imgur.com/min/embed.js" charset="utf-8"></script>
   -->


    <div class="jumbotron" style="margin-top:;" id="parent_div">
        <!-- <==========Start Cloning from here-->
        <div class="container" style="background-color: coral; padding:20px; border-radius:30px; margin-top:50px;" id="div_to_clone">
            <div class="input-group mb-3" style="padding: 10px;">

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">Question No.</span>
                    </div>

                    <textarea id="QuesIn" name="Question" rows="3" cols="106" style="border-radius: 5px; border:double;"
                        aria-label="Question" placeholder="Enter Your Your Question"></textarea>

                </div>
                <div class="container">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Choose an image to use in your <strong>Quiz</strong></label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <span class="btn btn-default btn-file" style="background-color: #dc3545;">
                                        Browse… <input type="file" id="imgInp">
                                    </span>
                                </span>
                                <input type="text" class="form-control" readonly>
                            </div>
                            <img id='' />
                            <!--Use this tag to extract the image into-->
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div style="padding: 10px;">
                        <div class="input-group">

                            <input type="text" class="form-control" aria-label="Text input with radio button">
                        </div>
                    </div>



                    <div style="padding: 10px;">
                        <div class="input-group">

                            <input type="text" class="form-control" aria-label="Text input with radio button">
                        </div>
                    </div>
                    <div style="padding: 10px;">
                        <div class="input-group">

                            <input type="text" class="form-control" aria-label="Text input with radio button">
                        </div>
                    </div>
                    <div style="padding: 10px;">
                        <div class="input-group">

                            <input type="text" class="form-control" aria-label="Text input with radio button">
                        </div>
                    </div>

                    <div class="row justify-content-end" style="padding: 20px;">
                        <div >
                        <div style="margin-top: 20px;">
                            <div style="background-color: coral; ">
                                <div class="example hoverable">
                                    <button type="button" class="btn btn-danger"
                                        style="width: 150px; margin-top:-4px; background-color:#e43c5c;">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                        </div>



                        
                    </div>

                </div>
            </div>
        </div>
    </div><!-- <==== Clone till here-->


<div class="row justify-content-end">
    <div style=" margin-right:100px;">

        <div class="example hoverable">
            <button type="button" class="btn btn-danger"
                style="width: 150px; margin-top:-4px; background-color:#e43c5c;" id="clone_btn">
                Clone
            </button>
        </div>
    </div>
</div>

</div>


<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Pariksha</h3>
                    <p>
                        Bennett University <br>
                        Greater Noide, 201010<br>
                        India<br><br>
                        <strong>Phone:</strong> 6464763546715<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Online examination</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">AI proctoring</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Analystics on class and individual
                                performance</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Quiz templates and Plagiarism detector
                                services</a></li>

                    </ul>
                </div>

                <div class="col-lg-4 col-md-6">
                    <h2>PARiKSHA</h2>
                    <h4>
                        <p>
                            Pariksha is created with a motive of providing a unified platform to students and teachers
                            so that the
                            process of learning and its quality does not reduces in these tough times.
                        </p>
                    </h4>
                    </p>
                </div>

            </div>
        </div>
    </div>


</footer>
<script>

    $(document).ready(function () {
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function (event, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#imgInp").change(function () {
            readURL(this);
        });
    });
</script>

<script>$(document).ready(function(){
    $('#clone_btn').click(function(){ 
      $("#parent_div").append($("#div_to_clone").clone());
    });
});</script>

{% endblock content %}