*{
	margin: 0px;
	padding: 0px;
}
body{

	background-image: url(bg.jpg); 
	background-size: cover;
	background-attachment: fixed;
	font-family: new time roman;
}
h1{
	font-size: 40px;
	color: white;
	margin-top: 250px;
}
p{
	font-size: 17px;
	color: white;
}
h3{
	font-size: 25px;
	color: white;
}
.glyphicon-pencil{
	font-size: 35px;
	color: white;
	float: right;
	margin-top: 20px;
}
.glyphicon-envelope{
	font-size: 20px;
	color: white;
	float: right;
	position: absolute;
}
.col-md-5{
	margin-top: 30px;
	box-shadow: -1px 1px 60px 10px black;
	background: rgba(0,0,0,0.4);
}
.label{
    font-weight: normal;
    margin-top: 20px;
    color: white;
    font-size: 19px;
}
.form-control{
	background: transparent;
	border-radius: 0px;
	border: 0px;
	border-bottom: 1px solid white;
	font-size: 18px;
	margin-top: 15px;
	height: 40px;
	color: white;
}
input[type = "checkbox"]{
	margin-top: 15px;
    width: 15px;
    height: 15px;
}
small{
    font-size: 18px;
    color: white;
}
input[type="radio"]{
	margin-top: 22px;
	margin-left: 30px;
	marker-start: 50px;
}
option{
	color: gray;
}
.btn-info{
	margin-top: 20px;
	font-size: 18px;
	width: 120px;
	margin-left: 80px;
	margin-bottom: 20px;
}
.btn-warning{
	margin-top: 20px;
	font-size: 18px;
	width: 120px;
	margin-bottom: 20px;
}