{% extends "layout.html" %}
{% block content%}


{% with messages = get_flashed_messages(with_categories = true ) %}
        {% if messages %}
        {% for category,message in messages %}
        <div  class=" alert alert-{{category}} mt-5 ">
          <h3 style="padding-top: 5px; text-align: center;">{{message}}</h3>
        </div>
        {% endfor %}
        {% endif %}
  {% endwith %}
<div class="jumbotron" style="margin-top: 50px;  height: 100%;


background-position: center;
background-repeat: no-repeat;
background-size: cover;
padding:70px;">

    <div class="col" style="padding: px;">

        <div class="container" style="background-color:white; border-radius:30px; margin-top:50px; margin-bottom: 250px;">
            <h2 style="text-align: center;"><strong>ADD TEACHER</strong></h2>
            <h4 style="text-align: center;">Enter the unique ID of your teacher to be able to access the quizzes created by them</h4>

            <hr style="width:100%;text-align:left;margin-left:0">

            <form method="POST">

                <div class="container" style="padding:20px;">
                    <label for="basic-ul">Enter the teacher id </label>
                    <div class="input-group ">
                        
                        <input type="number" required min=1 class="form-control" id="teacher_id" name="teacher_id"
                        aria-describedby="basic-addon3" placeholder="Enter the Id here ">
                    </div>
                </div>
                <div class="row justify-content-center" style="margin-top: 20px; color:blue; padding:20px;">
                    <button class="btn btn-primary btn-lg " type="submit">Submit</button>
                </div>
            </form>

        </div>
        
    </div>
</div>


<footer id="footer">

    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>Pariksha</h3>
                    <p>
                        Bennett University <br>
                        Greater Noide, 201010<br>
                        India<br><br>
                        <strong>Phone:</strong> 6464763546715<br>
                        <strong>Email:</strong> info@example.com<br>
                    </p>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Online examination</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">AI proctoring</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Analystics on class and individual
                                performance</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Quiz templates and Plagiarism detector
                                services</a></li>

                    </ul>
                </div>

                <div class="col-lg-4 col-md-6">
                    <h2>PARiKSHA</h2>
                    <h4>
                        <p>
                            Pariksha is created with a motive of providing a unified platform to students and
                            teachers
                            so that the
                            process of learning and its quality does not reduces in these tough times.
                        </p>
                    </h4>
                    </p>
                </div>

            </div>
        </div>
    </div>


</footer>

{% endblock content %}