<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('auth.static', filename='main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('auth.static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('auth.static', filename='mdb.min.css') }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
  {% if title != None %}
  <title>PARiKSHA : {{title}}</title>  
  {% else %}
  <title>PARiKSHA</title>  
  {% endif %}
  
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">

    <style>

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #e43c5c;
}

a:hover {
  color: #ea6981;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}



.back-to-top:hover {
  bottom: 19px;
}


    </style>


    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title>Pariksha</title>
    {% endif %}
</head>
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#" style="margin-top: 5px;;">
      <img src="https://i.ibb.co/s3GNfVr/PARi-KSHA-Icon-only-white-removebg-preview.png" width="30" height="30" class="d-inline-block align-top" alt="">
      PARiKSHA
    </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
              aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
              <!-- Navbar Right Side -->
              <div class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                  {% if current_user.student %}
                    <a class="nav-item nav-link" href="{{url_for('student.home')}}">Home</a>
                  {% else %}
                    <a class="nav-item nav-link" href="{{url_for('teacher.home')}}">Home</a>
                  {% endif %}
                  <a class="nav-item nav-link" href="{{url_for('auth.logout')}}">Logout</a>
                {% else %}
                <a class="nav-item nav-link" href="{{url_for('main.welcome')}}">Home</a>
                <!-- add the scroll feature here -->
                <a class="nav-item nav-link" href="{{url_for('auth.register')}}">Register</a>
                <a class="nav-item nav-link" href="{{url_for('auth.login')}}">Login</a>
                {% endif %}
              </div>
      </div>
  </nav>
</header>
    

<body>
      <main role="main" >
                {% block content %}{% endblock content %}
            
    </main>
    
</body>


    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>



</html>









