{% extends "layout.html" %}

{% block content %}


<div class='jumbotron'
    style="background-color: rgba(240, 50, 208, 0.479); align-items:center; border-radius:20px; margin-top:75px">
    <div style="font-size: 35px; align-items:center;"> <strong>PARiKSHA</strong> - Quiz Heading </div>
</div>

<form method="POST">

    {% for ques in shuffled_questions %}
    <div class='container' style="margin-top: 50px;  border:5px double black; padding:20px; background-color:ivory;">

        <div class="container" style="background-color: bisque; border:5px groove #e43c5c; margin-top:10px">
            <h2>{{ques}}</h2>
            <img src="">
        </div>



        <div class="container">

            {% for opts in questions[ques] %}

            <div style="margin-top: 25px;">
                <div class="form-check">
                    <input class="form-check-input" type="radio" value="{{opts}}" name="{{ques}}" >
                    <label class="form-check-label" for="Radio1">
                        {{opts}}
                    </label>
                </div>
            </div>

            {% endfor %}

        </div>

    </div>
    {% endfor %}
    <!-- this input field's postion has to be corrected -->
    <input type="submit" value="submit" />
</form>

{% endblock content %}