{% extends "layout.html" %}
{% block content%}
<style>
  .zoom {

    transition: transform .2s;
    /* Animation */
  }

  .zoom:hover {
    transform: scale(1.2);
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
</style>
{% with messages = get_flashed_messages(with_categories = true ) %}
{% if messages %}
{% for category,message in messages %}
<div style="margin-top: 70px;" class="alert alert-{{category}}">
  <h3>{{message}}</h3>
</div>
{% endfor %}
{% endif %}
{% endwith %}
<div class="jumbotron" style="margin-top: 50px;">

  <div class="jumbotron" style=" background-color:pink; ">
    <h1>Welcome {{current_user.name}} !!</h1>
    <h3><strong> Quote of the day</strong> : {{quotes[0]}}</h3>


  </div>
  <div class="row">

  </div>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" style="margin-top: 50px;;">
    <div class="col mb-1">


      <div class="card" style="width: 18rem; height: 23rem;">
        <div class="zoom">
          <img src="https://t3.ftcdn.net/jpg/02/34/37/84/240_F_234378496_LK9HJn2cdCq1zSKr19c8NwqDYgy2ouHz.jpg"
            class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Attempt Quiz</h5>
          <p class="card-text">Click on the button below to view all active quizzes</p>
          <div class="zoom">
            <a href="{{url_for('student.list_quiz')}}" style="width: 15.25rem; margin-top:5px;"
              class="btn btn-danger">Attemp Quiz</a>
          </div>
        </div>
      </div>

    </div>
    <div class="col mb-4">

      <div class="card" style="width: 18rem; height: 23rem;">
        <div class="zoom">
          <img src="https://t3.ftcdn.net/jpg/03/78/17/94/240_F_378179426_fanID4R9NLWcuenQSwio4f3mttmvUJfz.jpg"
            class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">View Result</h5>
          <p class="card-text">Visualize how you have performed</p>
          <div class="zoom">
            <a href="{{url_for('student.view_result')}}" style="width: 15.25rem;" class="btn btn-danger">View Result</a>
          </div>
        </div>
      </div>

    </div>
    <div class="col mb-4">

      <div class="card" style="width: 18rem; height: 23rem;">
        <div class="zoom">
          <img src="https://t3.ftcdn.net/jpg/03/22/02/90/240_F_322029005_GPIGKrc2R9zzcU2foU1GkbIucma54J0B.jpg"
            class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <h5 class="card-title">Add Teacher</h5>
          <p class="card-text">Add teacher so to get access to the exams created by them</p>
          <div class="zoom">

            <a href="{{url_for('student.add_teacher')}}" style="width: 15.25rem; margin-top:15px;"
              class="btn btn-danger">Add Teacher</a>
          </div>
        </div>
      </div>



    </div>
    <div class="col mb-4">

      <div class="card" style="width: 18rem; height: 23rem;">
        <div class="zoom">
          <img src="https://t4.ftcdn.net/jpg/02/90/44/61/240_F_290446151_BE5PueHXw3wAYvxxwcXIDwTxgrl6mRsn.jpg"
            class="card-img-top" alt="..." style="width: 286px; height:190.66px;">
        </div>
        <div class="card-body">
          <h5 class="card-title">View Performance</h5>
          <p class="card-text">Check how you performed.</p>
          <div class="zoom">

            <a href="#" style="width: 15.25rem; margin-top:22px;" class="btn btn-danger">Check Result</a>
          </div>
        </div>
      </div>





    </div>
  </div>
</div>
</div>


{% endblock content %}