{% extends "layout.html" %}
{% block content%}

<div class="jumbotron" style="margin-top: 50px;">

    <div class="jumbotron" style=" background-color:pink; ">
        <h1>Welcome!</h1>
        <h6>Signed in as student</h6>
        <h5><strong>PARiKSHA</strong> allows to give exams under live A.I. monitoring and also allows to you submit assingements, see result. Go on See for yourself!</h5>


    </div>
    <div class="row">

    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4" style="margin-top: 50px;;">
        <div class="col mb-1">
            
            
                <div class="card" style="width: 18rem; height: 23rem;">
                    <img src="https://t3.ftcdn.net/jpg/02/34/37/84/240_F_234378496_LK9HJn2cdCq1zSKr19c8NwqDYgy2ouHz.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Start Test</h5>
                        <p class="card-text">Use PARiKSHA's - A.I. to give test.</p>
                        <a href="#" style="width: 15.25rem; margin-top:25px;" class="btn btn-danger">Start Test</a>
                    </div>
                </div>
            
        </div>
        <div class="col mb-4">
            
            <div class="card" style="width: 18rem; height: 23rem;">
                <img src="https://t3.ftcdn.net/jpg/03/78/17/94/240_F_378179426_fanID4R9NLWcuenQSwio4f3mttmvUJfz.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Start Test</h5>
                    <p class="card-text">Visualize how you have performed</p>
                    <a href="#" style="width: 15.25rem;" class="btn btn-danger">View Result</a>
                </div>
            </div>

        </div>
        <div class="col mb-4">
            
            <div class="card" style="width: 18rem; height: 23rem;">
                <img src="https://t3.ftcdn.net/jpg/03/22/02/90/240_F_322029005_GPIGKrc2R9zzcU2foU1GkbIucma54J0B.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Start Test</h5>
                    <p class="card-text">Submit your assingement</p>
                    <a href="#" style="width: 15.25rem; margin-top:28px;" class="btn btn-danger">Submit Assingement</a>
                </div>
            </div>



        </div>
        <div class="col mb-4">
           
            <div class="card" style="width: 18rem; height: 23rem;">
                <img src="https://t4.ftcdn.net/jpg/02/90/44/61/240_F_290446151_BE5PueHXw3wAYvxxwcXIDwTxgrl6mRsn.jpg" class="card-img-top" alt="..." style="width: 286px; height:190.66px;">
                <div class="card-body">
                    <h5 class="card-title">Check Result</h5>
                    <p class="card-text">Check how you performed.</p>
                    <a href="#" style="width: 15.25rem; margin-top:22px;" class="btn btn-danger">Check Result</a>
                </div>
            </div>





        </div>
    </div>
</div>
</div>
<footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Pariksha</h3>
            <p>
              Bennett University <br>
              Greater Noide, 201010<br>
              India<br><br>
              <strong>Phone:</strong> 6464763546715<br>
              <strong>Email:</strong> info@example.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Online examination</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">AI proctoring</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Analystics on class and individual performance</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Quiz templates and Plagiarism detector services</a></li>
              
            </ul>
          </div>
          
           <div class="col-lg-4 col-md-6">
            <h2>PARiKSHA</h2>
            <h4><p>
                Pariksha is created with a motive of providing a unified platform to students and teachers so that the process of learning and its quality does not reduces in these tough times.
              </p>
            </h4>
            </p>
          </div>

        </div>
      </div>
    </div>

   
  </footer>

{% endblock content %}