{% extends "layout.html" %}
{% block content%}

<div class="jumbotron" style="margin-top: 50px;">
    <div class="row">
        
    </div>
    <div class="row row-cols-1 row-cols-md-2" style="margin-top: 50px;;">
        <div class="col mb-4">
            <div class="card">
                <img src="https://t3.ftcdn.net/jpg/03/34/92/46/240_F_334924600_Qtl5awh2cniAh0J1ofm6t37kcAl0JSjZ.jpg"
                    class="card-img-top" alt="..." style=" width:auto; height: 350px; object-fit:fill;">
                <div class="card-body">
                    <button type="CreateTest" class=" btn btn-block mybtn btn-primary tx-tfm"
                        style="background: #1C2331;">Create
                        Test</button></div>
            </div>
        </div>
        <div class="col mb-4" >
            <div class="card">
                <img src="https://t3.ftcdn.net/jpg/02/08/25/96/240_F_208259638_g1njxkWv7dhPnXyUAv6VlaowDNY892og.jpg"
                    class="card-img-top" alt="..." style=" width:auto; height: 350px; object-fit: fill;">
                <div class="card-body">
                    <button type="CreateTest" class=" btn btn-block mybtn btn-primary tx-tfm"
                        style="background: #1C2331;">View
                        Result
                    </button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="https://t3.ftcdn.net/jpg/03/06/14/50/240_F_306145094_fXSwGom0JWii8WKLqBMz5TL8G6X4EEPj.jpg"
                    class="card-img-top" alt="..." style=" width:auto; height: 350px; object-fit: fill;">
                <div class="card-body">
                    <button type="CreateTest" class=" btn btn-block mybtn btn-primary tx-tfm"
                        style="background: #1C2331;">Create
                        Assingement
                    </button>
                </div>
            </div>
        </div>
        <div class="col mb-4">
            <div class="card">
                <img src="https://t4.ftcdn.net/jpg/03/32/93/91/240_F_332939130_xh4uVUk1lnxxaj6y3FHg2ivspzPEiSPW.jpg"
                    class="card-img-top" alt="..." style=" width: auto; height: 350px; object-fit: fill;">
                <div class="card-body">
                    <button type="CreateTest" class=" btn btn-block mybtn btn-primary tx-tfm"
                        style="background: #1C2331;">Check
                        Result
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock content %}