*{
    margin: 0;
    padding: 0;

}

.logo
{
    width: 20%;

    display:flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 100%;
    border: 3px solid white ;
    
}
.navbar
{
    display : flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
}
.nav-list
{
    width : 50%;

 
    display:flex;
    align-items: center;
    
}

.nav-list li{
    margin:20;
    list-style:none;
    padding: 26px 30px;
    
}
.nav-list li a{
    text-decoration: none ;
    color: white;
}
.nav-list li a:hover{
    text-decoration: none ;
    color: grey;
}
.rightNav
{
    width:50%;
    text-align: right;
    padding:0.23px;
}

#search
{
    padding: 5px;
    font-size:17px;
    border: 2px solid grey;
    border-radius:  9px;
}

.background
{
    background:rgba(0, 0, 0, 0.7) url('../img/bg.png');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection
{
    height: 100vh;
}
.box-main
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow:column-reverse;
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 50%;
    margin:auto;
    height:80%;
}

.firstHalf
{
    width: 75%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondHalf
{
    width : 30%;

}

.secondHalf img
{
    width : 70%;
    border: 4px solid white;
    border-radius: 150px; 
    display: block;
    margin: auto;

}
.text-big
{
    font-size: 50px;
    text-align: center;

}

.text-small
{
     font-size: 18px;
     text-align: left;
}

.btn{
    padding: 8px 20px;
    margin: 7px 5px;
    border: 2px solid white;
    border-radius: 8px;
    font-size:18px;
    background: none;
    color:white;
    cursor:pointer;
}
.btn-sm
{
    padding: 4px 2px;
    vertical-align: middle;
    margin: 6px 10;
    border: 2px solid white;
    border-radius: 8px;
    font-size:18px;
    background: none;
    color:white;
    cursor:pointer;

}

.secRight
{
    height:500px;
    display: flex;
    align-items: center;
    justify-content: center;
}